body, html {
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
    background-image: url("castle_story.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    overflow: hidden;
}

div {
    text-align: center; 
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-align: right;
    font-size: 40px ;
    padding: 25px;
}
.navbar-logo{
    margin-left: 15px;
}
.navbar-links{
    text-align: right;
}
.navbar-logo img{
    height: 50px;
    width: auto;
}
.navbar a{
    text-decoration: none;
    color: white;
    text-shadow: black 1px 1px;
}

.navbar a:hover{
    color:#09ff00;
    transition: 0.4s;
}
.navbar a.active{
    color: #09ff00
}

.discord-icon {
    margin-right: 15px;
}

.discord-icon img {
    width: 40px;
    height: auto;
    transition: transform 0.4s ease;
}

.discord-icon img:hover{
    transform: scale(1.2)
}

.link-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: calc(100% - 100px); 
    

}
.link-container a{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 80px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 80px;
    outline: 2px solid green;
    box-shadow: 0 0 10px #09ff00,
                0 0 1px #09ff00;
    transition: 0.4s;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 14px; /* Adjust this for smaller screens */
    }
}
.twitch:hover{
    outline: 2px solid purple;
    background-color: black;
    box-shadow: 0 0 10px plum,
                0 0 1px plum;
    padding: 5px 15px;
}

.yt1:hover{
    outline: 2px solid red;
    background-color: black;
    box-shadow: 0 0 10px rgb(255, 97, 97),
                0 0 1px rgb(255, 97, 97);
    padding: 5px 15px;
}

.ct1:hover{
    outline: 2px solid red;
    background-color: black;
    box-shadow: 0 0 10px rgb(255, 97, 97),
                0 0 1px rgb(255, 97, 97);
    padding: 5px 15px;
}
.ig:hover{
    outline: 2px solid palevioletred;
    background-color: black;
    box-shadow: 0 0 10px plum,
                0 0 1px plum;
    padding: 5px 15px;
}
.title {
    margin-top: 100px; 
    align-items: center;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.home {
    display: auto;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    max-width: 50%; 
    height: 100%;
    margin: 0 auto; 
    background-color: rgba(63, 63, 63, 0.952);
    overflow: auto;
    border-radius: 30px;
    outline: 3px solid green;
    box-shadow: 0 0 20px #09ff00,
                0 0 2px #09ff00;
}

.content{
    -webkit-text-fill-color: white;
    align-items: center;
    text-shadow: 2px 2px grey;
}

iframe{
    width: 80%;
    height: 550px;
    border-radius: 20px;
    outline: 3px solid grey;
    box-shadow: 0 0 20px;
}

hr {
    border: none;
    height: 2px;
    background-color: grey;
    margin: 20px;
}

