body, html {
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
    background-image: url("TombGateway.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    overflow: hidden;
}

div {
    text-align: center; 
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-align: right;
    font-size: 40px ;
    padding: 25px;
}
.navbar-logo{
    margin-left: 15px;
}
.navbar-links{
    text-align: right;
}
.navbar-logo img{
    height: 50px;
    width: auto;
}
.navbar a{
    text-decoration: none;
    color: white;
    text-shadow: black 1px 1px;
}



.navbar a:hover{
    color:#09ff00;
    font-size: 105%;
    transition: 0.4s;
}
.navbar a.active{
    color: green
}

.link-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: calc(100% - 100px); 
    

}
.link-container a{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 80px;
    margin: 10px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 550;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 80px;
    outline: 2px solid green;
    box-shadow: 0 0 10px #09ff00,
                0 0 1px #09ff00;
    transition: 0.4s;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 14px; /* Adjust this for smaller screens */
    }
}

.twitch:hover{
    outline: 2px solid purple;
    box-shadow: 0 0 10px plum,
                0 0 1px plum;
    padding: 5px 15px;
}

.yt1:hover{
    outline: 2px solid red;
    box-shadow: 0 0 10px rgb(255, 97, 97),
                0 0 1px rgb(255, 97, 97);
    padding: 5px 15px;
}

.ct1:hover{
    outline: 2px solid red;
    box-shadow: 0 0 10px rgb(255, 97, 97),
                0 0 1px rgb(255, 97, 97);
    padding: 5px 15px;
}
.ig:hover{
    outline: 2px solid palevioletred;
    box-shadow: 0 0 10px plum,
                0 0 1px plum;
    padding: 5px 15px;
}